$tomato: hsl(4, 100%, 67%);
$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$font-size-paragraph: 16px;
$font-regular: 400;
$font-bold: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    color: $dark-slate-grey;
}

p {
    color: $dark-slate-grey;
}

.container {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 375px;
}

.content {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.illustration-mobile{
    max-width: 375px;
    max-height: 285px;
    width: 100%;
    height: 100vh;
    margin-bottom: 0.6rem;
}

.title {
    margin: 1.3rem 0;
    font-size: 40px;
}

.main-desc {
    margin-bottom: 1.6rem;
    line-height: 1.5;
}

.list {
    display: flex;
    margin-bottom: 0.6rem;
    align-items: center;
    align-items: flex-start;
}

.list-item {
    line-height: 1.5;
}

.list-block {
    margin-bottom: 1.9rem;
}

.icon-list {
    margin-right: 1rem;
}

.input-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.email-title {
    font-size: 0.75rem;
    font-weight: $font-bold;
}

.error-message {
    font-size: 0.8rem;
    font-weight: $font-bold;
    color: $tomato;
}

.email-input {
    width: 100%;
    padding: 1.1rem 1.5rem;
    border: 1px solid $grey;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: $font-size-paragraph;
}
.email-input.empty,
.email-input.invalid {
    border: 1px solid $tomato;
    background-color: rgb(255, 98, 87, 0.2);
    color: $tomato;
}
.email-input:focus {
    border: 1px solid $dark-slate-grey;
}

.subscribe-button {
    border: none;
    outline: none;
    background-color: $dark-slate-grey;
    color: $white;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 1.2rem 0;
    cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:active,
.subscribe-button:focus {
    background: linear-gradient(to right, hsl(348, 100%, 67%), hsl(9, 99%, 64%));
}

.subscribe-button.after {
    margin: 2.5rem 0;
}

.after-container {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 375px;
    height: 100vh;
}

.after-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.image-success {
    max-width: 64px;
    max-height: 64px;
}

.after-title {
    line-height: 1;
}

.after-message {
    line-height: 1.5;
}

@media (max-width: 929px) {
    .illustration-desktop {
        display: none;
    }
    .content {
        max-width: 375px;
        width: 100%;
    }
}

@media (min-width: 930px) {
    body {
        background-color: $charcoal-grey;
    }

    .container {
        display: flex;
        flex-direction: row;
        background-color: $white;
        min-width: 927px;
        padding: 1.5rem;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2.2rem;
    }

    .content {
        flex: 1;
        padding: 0;
        padding: 0.5rem 4rem 2.2rem 2.5rem;
    }

    .illustration-mobile {
        display: none;
    }

    .title {
        font-size: 55px;
        letter-spacing: 0.5px;
    }

    .list {
        margin-bottom: 0.8rem;
    }

    .email-input {
        margin-bottom: 1.3rem;
    }

    .list-block {
        margin-bottom: 1.7rem;
    }

    .after-container {
        max-width: 504px;
        max-height: 520px;
        background-color: $white;
        border-radius: 2.2rem;
        padding: 3rem 4rem 4rem 4rem;
    }

    .after-title {
        font-size: 56px;
        margin: 2.5rem 0 1.5rem 0;
    }

    .subscribe-button {
        font-size: 15px;
    }
    .subscribe-button.after {
        font-size: 15px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}